In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2020')

In [7]:
soup = BeautifulSoup(page.content,"html.parser")

In [9]:
table = soup.find(class_ = "wikitable sortable")

In [11]:
telugu_movies = table.find_all('tr')

In [12]:
len(telugu_movies)

11

In [71]:
telugu_movies[1].text

'\n1\n\nAla Vaikunthapurramuloo\n\nHaarika & Hassini CreationsGeetha Arts\n\n₹262 crore (US$37\xa0million)\n\n[2]\n'

In [41]:
telugu_movies[1].text.strip().split('\n\n')

['1',
 'Ala Vaikunthapurramuloo',
 'Haarika & Hassini CreationsGeetha Arts',
 '₹262 crore (US$37\xa0million)',
 '[2]']

In [61]:
list = []
for movie in telugu_movies[1:]:
    dict = {}
    movie_td = movie.find_all("td")
    movie_th = movie.find_all("th")
    dict['Rank'] = movie_th[0].text[:-1]
    dict['Title'] = movie_td[0].text[:-1]
    dict['Production Company'] = movie_td[1].text[:-1]
    dict['Worldwide Gross'] = movie_td[2].text[:-1]
    #dict['Ref'] = movie_td[3].text[:-1]
    list.append(dict)

In [62]:
pd.DataFrame(list)

,Rank,Title,Production Company,Worldwide Gross
0,1,Ala Vaikunthapurramuloo,Haarika & Hassini CreationsGeetha Arts,₹262 crore (US$37 million)
1,2,Sarileru Neekevaru,AK EntertainmentsSri Venkateswara CreationsG. ...,₹260 crore (US$36 million)
2,3,Bheeshma,Sithara Entertainments,₹40.3 crore (US$5.7 million)
3,4,Disco Raja,SRT Entertainment,₹23 crore (US$3.2 million)
4,5,World Famous Lover,Creative Commercials,₹19 crore (US$2.7 million)
5,6,Solo Brathuke So Better,Sri Venkateswara Cine Chitra,₹17.7 crore (US$2.5 million)
6,7,Aswathama,Ira Creations,₹13.65 crore (US$1.9 million)
7,8,Jaanu,Sri Venkateshwara Creations,₹12.57 crore (US$1.8 million)
8,9,Entha Manchivadavuraa,Aditya Music,₹11.3 crore (US$1.6 million)
9,10,HIT: The First Case,Wall Poster Cinema,₹8.5 crore (US$1.2 million)