In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
page = requests.get('https://www.imdb.com/chart/top/')

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
table = soup.find(class_='lister-list')

In [5]:
movies = table.find_all('tr')

In [6]:
len(movies)

250

In [7]:
movies[0].text

'\n\n\n\n\n\n\n \n \n\n      1.\n      The Shawshank Redemption\n(1994)\n\n\n9.2\n\n\n\n\n\n\xa012345678910 \n\n\n\nNOT YET RELEASED\n \n\nSeen\n\n\n\n\n\n\n'

In [8]:
list_movies = []
for movie in movies:
    dict_movie = {}
    movie_td = movie.find_all('td')
    dict_movie['Rank'] = movie_td[1].text.strip().split('\n')[0][:-1]
    dict_movie['Title'] = movie_td[1].text.strip().split('\n')[1].strip()
    dict_movie['year'] = movie_td[1].text.strip().split('\n')[2][1:-1]
    dict_movie['Rating'] = movie_td[2].text.strip()
    list_movies.append(dict_movie)

In [9]:
import pandas as pd
Movies_df = pd.DataFrame(list_movies)
Movies_df

    Rank                     Title  year Rating
0      1  The Shawshank Redemption  1994    9.2
1      2             The Godfather  1972    9.1
2      3    The Godfather: Part II  1974    9.0
3      4           The Dark Knight  2008    9.0
4      5              12 Angry Men  1957    8.9
..   ...                       ...   ...    ...
245  246                  The Help  2011    8.0
246  247            Koe no katachi  2016    8.0
247  248    La battaglia di Algeri  1966    8.0
248  249               Mandariinid  2013    8.0
249  250        The Princess Bride  1987    8.0

[250 rows x 4 columns]

In [12]:
Movies_df.to_csv('Movies.csv')